
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.5rem;
}.a4-1-mhv {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #c6dce6;
  box-sizing: border-box;
  padding: 4.1rem 3.5rem 2.089rem 3.3rem;

  .auto-group-zqxt-LuS {
    margin: 0rem 5.5rem 2.711rem 0rem;
    width: 22rem;
    flex-shrink: 0;

    .ellipse-4-z6p {
      margin: 0rem 0rem 2.4rem 1.6rem;
      width: 13.2rem;
      height: 12.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .geethika-mulugu-student-UGt {
      line-height: 0.8333333333;
      color: #000000;
      font-family: Georgia, 'Source Sans Pro';
      margin-bottom: 1.5rem;
      max-width: 16.9rem;
      font-size: 2.4rem;
      font-weight: 400;

      .geethika-mulugu-student-UGt-sub-0 {
      }
      .geethika-mulugu-student-UGt-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.8333333333;
        color: #000000;
        font-family: Goldman, 'Source Sans Pro';
      }
    }
    .a-19-year-old-with-a-passion-for-front-end-development-im-familiar-with-angular-framework-completed-a-python-course-and-have-hands-on-experience-with-projects-i-also-enjoy-bringing-ideas-to-life-through-figma-designs-excited-to-apply-my-skills-and-contribute-to-new-projects-CVi {
      font-family: Epilogue, 'Source Sans Pro';
      margin-bottom: 1.9rem;
      max-width: 22rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.6666666667;
      color: #000000;
    }
    .auto-group-fmwr-b24 {
      margin: 0rem 0.7rem 1.4rem 0.3rem;
      width: calc(100% - 1rem);
      height: 15.2rem;
      position: relative;

      .material-symbols-light-mail-HvU {
        height: 1.4rem;
        position: absolute;
        left: 0;
        top: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8rem;
      }
      .ic-baseline-phone-HJC {
        left: 0.7rem;
        top: 12.8rem;
        overflow: hidden;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
      }
      .vector-bJt {
        object-fit: contain;
        vertical-align: top;
        width: 1.6rem;
        height: 1.8rem;
        position: absolute;
        left: 0.6rem;
        top: 8.1rem;
      }
      .mdi-location-8Jp {
        left: 2.3rem;
        top: 12.5rem;
        overflow: hidden;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
      }
      .group-4-fZe {
        height: 14.9rem;
        position: absolute;
        left: 1.6rem;
        top: 0;
        width: 19.4rem;

        .contact-z68 {
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 2.5rem 1.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
        }
        .geethikamulugugmailcom-JMi {
          white-space: nowrap;
          margin: 0rem 0rem 1.1rem 1.4rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.5384615385;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .xxxxx-cdJ {
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.6rem 1.9rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.5384615385;
        }
        .auto-group-jqe8-97S {
          width: 18.9rem;
          height: 3.7rem;
          position: relative;

          .vijayawadaandhra-pradesh-t52 {
            height: 2rem;
            position: absolute;
            top: 0;
            font-size: 1.3rem;
            font-weight: 400;
            white-space: nowrap;
            width: 17.5rem;
            left: 1.4rem;
            line-height: 1.5384615385;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
          }
          .mdi-location-UxL {
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            top: 1.3rem;
            overflow: hidden;
          }
        }
      }
      .vector-Qqz {
        object-fit: contain;
        vertical-align: top;
        width: 1.4rem;
        height: 2rem;
        position: absolute;
        left: 0.6rem;
        top: 11.7rem;
      }
    }
    .skills-92t {
      line-height: 0.8333333333;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2rem 3.4rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .group-6-GNQ {
      margin: 0rem 0rem 0.6rem 0.9rem;
      width: 15.3rem;

      .auto-group-nntn-zpC {
        margin: 0rem 0rem 0.9rem 0.1rem;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;

        .python-Kba {
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
        }
        .line-4-rrQ {
          height: 0.5rem;
          background-color: #6ab1c7;
          flex-shrink: 0;
          margin-top: 0.7rem;
          width: 8.2rem;
        }
      }
      .auto-group-9voj-nzx {
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: flex-end;
        margin: 0rem 0rem 1.4rem 0.1rem;

        .html-JyJ {
          flex-shrink: 0;
          margin-right: 3.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
        }
        .line-5-dVn {
          margin-bottom: 0.1rem;
          width: 8.2rem;
          height: 0.5rem;
          background-color: #69b1c7;
          flex-shrink: 0;
        }
      }
      .auto-group-idpi-AEp {
        margin: 0rem 1.7rem 0.7rem 0.1rem;
        width: calc(100% - 1.8rem);
        display: flex;
        align-items: flex-end;

        .css-tRi {
          margin-right: 4.4rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-6-d8Q {
          margin-bottom: 0.1rem;
          width: 6.5rem;
          height: 0.5rem;
          background-color: #6ab1c7;
          flex-shrink: 0;
        }
      }
      .auto-group-4ape-Mq6 {
        display: flex;
        align-items: flex-end;
        margin: 0rem 4.2rem 0.9rem 0rem;
        width: calc(100% - 4.2rem);

        .js-VAc {
          margin-right: 5.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-7-R4G {
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          width: 4rem;
          height: 0.5rem;
          background-color: #6ab1c7;
        }
      }
      .auto-group-ohun-xZz {
        margin-right: 3.7rem;
        width: calc(100% - 3.7rem);
        display: flex;
        align-items: center;

        .angular-i3N {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
        }
        .line-11-3rL {
          background-color: #6ab1c7;
          flex-shrink: 0;
          margin-top: 0.6rem;
          width: 3.8rem;
          height: 0.4rem;
        }
      }
    }
    .auto-group-thde-PQQ {
      margin: 0rem 8.8rem 0rem 0.9rem;
      width: calc(100% - 9.7rem);
      display: flex;
      align-items: flex-end;

      .figma-iBn {
        line-height: 1.4285714286;
        color: #000000;
        font-family: Epilogue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.3rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .line-10-rYt {
        background-color: #6ab1c7;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 4.9rem;
        height: 0.4rem;
      }
    }
  }
  .auto-group-pssu-ytQ {
    margin: 0rem 0.4rem 38.111rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item-2017-18-W7e {
      font-family: Epilogue, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      max-width: 3.1rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3333333333;
      color: #000000;
    }
    .item-2019-21-osS {
      margin-bottom: 1rem;
      max-width: 3.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3333333333;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .item-2021-26-XoS {
      font-family: Epilogue, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 3.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3333333333;
      color: #000000;
    }
  }
  .auto-group-3m6k-TSC {
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 3.8rem;
    width: 21.6rem;
    align-items: center;
    display: flex;

    .auto-group-j4hj-b2c {
      box-sizing: border-box;
      padding-bottom: 6.1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-hydv-KzC {
        background-color: #8fc6d8;
        flex-shrink: 0;
        display: flex;
        border-radius: 1rem;
        height: 4.1rem;
        color: #000000;
        white-space: nowrap;
        font-weight: 400;
        line-height: 0.8333333333;
        font-family: Epilogue, 'Source Sans Pro';
        margin-bottom: 4.4rem;
        width: 20rem;
        font-size: 2.4rem;
        align-items: center;
        justify-content: center;
      }
      .auto-group-dwdr-CHJ {
        margin-right: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 14.4rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .group-1-XqN {
          margin: 0rem 0.8rem 0.31rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .ellipse-1-r6x {
            width: 1.4rem;
            height: 1.3897rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 4.2103rem;
          }
          .ellipse-2-zDA {
            margin-bottom: 4.5103rem;
            width: 1.4rem;
            height: 1.3897rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-3-vsW {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
            height: 1.3897rem;
          }
        }
        .auto-group-m2s6-GgU {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .sri-chaitanya-techno-school-E7W {
            max-width: 15.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 2.6rem 0.1rem;
          }
          .narayana-junior-college-K8x {
            margin-bottom: 3.8rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .vit-ap-bachelors-in-cse-qsz {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-vtxq-mFr {
      margin-bottom: 2.8539rem;
      width: 100%;
      height: 32.4rem;
      position: relative;
      flex-shrink: 0;

      .group-2-hfJ {
        flex-direction: column;
        width: 1.4rem;
        height: 14.1897rem;
        position: absolute;
        left: 0;
        top: 8.3rem;
        align-items: center;
        display: flex;

        .ellipse-1-d3A {
          height: 1.3897rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4.7103rem;
          width: 1.4rem;
        }
        .ellipse-2-m9N {
          flex-shrink: 0;
          margin-bottom: 5.3103rem;
          width: 1.4rem;
          height: 1.3897rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-3-tzg {
          width: 1.4rem;
          height: 1.3897rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rectangle-3-F4Y {
        width: 20rem;
        height: 4.1rem;
        position: absolute;
        left: 0.7rem;
        top: 0;
        background-color: #8fc6d8;
        border-radius: 1rem;
      }
      .rectangle-4-xzY {
        left: 1.6rem;
        top: 28.3rem;
        background-color: #8fc6d8;
        border-radius: 1rem;
        width: 20rem;
        height: 4.1rem;
        position: absolute;
      }
      .group-3-Uhz {
        height: 30.1695rem;
        position: absolute;
        left: 3rem;
        top: 1.3rem;
        width: 16.3rem;

        .certifications-okG {
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 11.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #000000;
        }
        .scratch-course-from-coursera-jP2 {
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          margin-bottom: 2.4rem;
          max-width: 14.7rem;
          font-size: 1.4rem;
        }
        .python-from-udemy-FcG {
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 6.6695rem;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .languages-z44 {
          margin-left: 2.7469rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .front-end-development-from-internshala-Kc8 {
        font-size: 1.4rem;
        width: 16.7rem;
        height: 4rem;
        left: 3rem;
        line-height: 1.4285714286;
        color: #000000;
        font-family: Epilogue, 'Source Sans Pro';
        position: absolute;
        top: 7.9rem;
        font-weight: 400;
      }
    }
    .pie-1-DSc {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.848rem 0rem 3.772rem;
      width: calc(100% - 5.6198rem);
      height: 9.957rem;
      overflow: hidden;
      position: relative;
      display: flex;

      .auto-group-zang-jQx {
        margin-right: 1.4698rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-Gvg {
          flex-shrink: 0;
          margin: 0rem 0rem 1.669rem 0.177rem;
          width: 4.288rem;
          height: 4.288rem;
          object-fit: contain;
          vertical-align: top;
        }
        .telugu-90-CJY {
          max-width: 3.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.8181818182;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-zjng-7wJ {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.243rem;
        height: 100%;
        align-items: flex-end;

        .group-fhv {
          margin: 0rem 0.051rem 1.669rem 0rem;
          width: 3.4643rem;
          height: 4.288rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .hindi-60-yyW {
          font-weight: 400;
          line-height: 1.8181818182;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 2.7rem;
          font-size: 1.1rem;
        }
      }
      .auto-group-c46x-iAQ {
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-Ttg {
          flex-shrink: 0;
          margin-bottom: 1.6691rem;
          width: 4.288rem;
          height: 4.288rem;
          object-fit: contain;
          vertical-align: top;
        }
        .english-75-1fJ {
          font-weight: 400;
          line-height: 1.8181818182;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.1145rem;
          max-width: 3.8rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}
